<div class="panel panel-default">
    <div class="panel-heading"><strong>Upload Files</strong> <small>Bootstrap files upload</small></div>
    <div class="panel-body">
        <!-- Standar Form -->
        <h4>Select files from your computer</h4>
        <form>
            <div class="form-inline">
                <div class="form-group">
                    {{y-file-input fileDataValue=fileData}}
                </div>
                <!-- <button type="submit" class="btn btn-sm btn-primary" {{action 'getFile'}}>Upload files</button> -->
            </div>
        </form>
    </div>
</div>


{{#if fileData}}
<div class="panel panel-default">
    <div class="panel-heading"><strong>Contents</strong></div>
    <div class="panel-body">
        {{fileContent.contents}}
    </div>
</div>
{{/if}}


{{#if fileData}}
<div class="panel panel-default">
    <div class="panel-heading"><strong>Header</strong></div>
    <div class="panel-body">
        {{fileContent.header}}
    </div>
</div>
{{/if}}


